@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato|Montserrat&display=swap')

body {
    background-color: f4f4f4f4;
}

/*-----------------------------colors*/


.navbar {
    background-color: #00b348;
}

footer {
    background-color: #303030;
}

.footerheading {
    color: #c0c0c0;
}

.footercontent {
    color: #c0c0c0;
}

a {
    color: inherit;    
}

/*--------general margins padding etc*/
body {
    margin: 0;
    padding: 0;
}

/*-----------------------------Navbar*/

.navbar-brand {
    margin-right: 0;
    text-align: center;
}

.logo-image {
    height: 50px;
    width: 50px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    margin-right: 7px;
    padding-right: 0;
}

.logo-text {
    display: inline-block;
    vertical-align: sub;
    font-family: "Fredoka One", cursive;
    color: #ffffff;
    font-size: 1.3em;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.divider {
    height: 30px;
    border-right: #ffffff solid 2px;
    margin-right: 5px;
}

a:hover {
    text-decoration: none;
}

.nav-item .nav-link {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 0.25em;
    transition-property: background-color color font-weight;
    transition-duration: 150ms;
    text-align: center;
}

.nav-item .nav-link:hover {
    background-color: #ffffff;
    color: #00b348;
    font-weight: bold;

     
}

.active-page {
     text-decoration: underline solid #ffffff;
}

a[id="login"] {
    font-family: "Fredoka One", cursive;
    color: #ffffff;
    font-size: 1em;
    padding: 0px 5px;
    margin-left: 3px;
    border: #ffffff solid 2px;
    border-radius: 10%;
    transition-property: background-color color font-weight;
    transition-duration: 120ms;
}

a[id="login"]:hover {
    color: #00ff67;
    background-color: #ffffff;
    font-weight: bolder;
}

.dropdownbutton {
    padding: 1px;
    border: 2px solid #ffffff;
}

.dropdownbutton i {
    color: #ffffff;
    vertical-align: sub;
}

/*--------------------------------Footer*/

#footercontainer {
    height: 128px
}

.footerheading{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin-top: 16px;
    text-decoration: solid #c0c0c0 underline;
}

.footercontent {
    font-family: "Lato", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

footer p{
    padding: 5px 0px;
    margin-bottom: 5px;
    font-size: 0.5em;
    line-height: 0;
}

.downloadlink{
    color: #c0c0c0;
    font-size: 1.7em;
    display: inline-block;
    padding: 5%;
    transition: color 0.5s ease-in-out;
}

.downloadlink:hover {
    color: #00ff67;
}

.sociallink {
    background-color: #ffffff;
    vertical-align: middle;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 50%;
    margin: 2.5px 5px;
    color:#00b348;
    transition: background-color 0.25s ease-in-out;
}

.sociallink:hover {
    background-color: #efb274;
}