@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato|Montserrat&display=swap');

/*-----------------------------colors*/

.navbar {
    background-color: #00b348;
}

footer {
    background-color: #303030;
}

.footerheading {
    color: #c0c0c0;
}

.footercontent {
    color: #c0c0c0;
}

a {
    color: inherit;    
}

a:hover {
    color: inherit;
}

.about-intro {
    background-color: #FFC7AA;
}

.three-reasons i {
    color: #00b348;
}

.benifits {
    background-color: #ffffff;
}

.f1 {
    background-color: #00ff669c;
}

.f2 {
    background-color: #FFC7AA;
}

.fb-link {
    background-color: #3b5998;
}

.insta-link {
    background-color: #d62976;
}

.modal {
    background-color: rgba(0,255,103, 0.3)
}

.modal-header
.modal-body {
    background-color: #c0c0c0;
}

button:focus {
    outline-color: transparent;
}

/*--------general margins padding etc*/
body {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}
.heading-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#303030;
}

.sm-heading-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: bold;

}
.content-text {
    font-family: "Lato", sans-serif;
    color:#303030;
}

button {
    border: none;
}

.fit-to-parent {
    height: 100%;
    Width: 100%
}

/*-----------------------------Navbar*/

nav .navbar-brand {
    text-align: center;
    margin: 0;
}

.logo-image {
    height: 50px;
    width: 50px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    margin-right: 7px;
    padding-right: 0;
}

.logo-text {
    display: inline-block;
    vertical-align: sub;
    font-family: "Fredoka One", cursive;
    color: #ffffff;
    font-size: 1.3em;
    margin-right: 13px;

}

.divider {
    height: 30px;
    border-right: #ffffff solid 2px;
    margin-right: 5px;
}

a:hover {
    text-decoration: none;
}

.nav-item .nav-link {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 0.25em;
    transition-property: all;
    transition-duration: 150ms;
    text-align: center;
}

.nav-item .nav-link:hover {
    background-color: #ffffff;
    color: #00b348;
    font-weight: bold;

     
}

.active-page {
     text-decoration: underline solid #ffffff;
}

a[id="login"] {
    font-family: "Fredoka One", cursive;
    color: #ffffff;
    font-size: 1em;
    padding: 0px 5px;
    margin-left: 3px;
    border: #ffffff solid 2px;
    border-radius: 10%;
    transition-property: background-color, color;
    transition-duration: 120ms;
}

a[id="login"]:hover {
    color: #00ff67;
    background-color: #ffffff;
}

.dropdownbutton {
    padding: 1px;
    border: 2px solid #ffffff;
}

.dropdownbutton i {
    color: #ffffff;
    vertical-align: sub;
}

/*--------------------------------Footer*/

#footercontainer {
    height: 125px;
}

.footerheading{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7em;
    margin-top: 16px;
    text-decoration: solid #c0c0c0 underline;
}

.footercontent {
    font-family: "Lato", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

footer p{
    padding: 5px 0px;
    margin-bottom: 5px;
    font-size: 0.5em;
    line-height: 0;
}

.footer-middle {
    padding: 0;
}

.downloadlink{
    color: #c0c0c0;
    font-size: 1.5em;
    display: inline-block;
    padding: 0px 2.5px;
    transition: color 0.5s ease-in-out;
}

.downloadlink:hover {
    color: #00ff67;
}

.link-footer {
    padding: 0;
}
.sociallink {
    background-color: #ffffff;
    vertical-align: middle;
    font-size: 0.7em;
    padding: 0.5em;
    border-radius: 50%;
    margin: 2.5px 5px;
    color:#c0c0c0;
    transition: background-color 0.25s ease-in-out;
}

.sociallink:hover {
    background-color: #00ff67;
}

/*----------------------------------Home page*/

.container-fluid {
    padding: 0;
}

.hero-background {
    width: 100%;
    height: 70vh;
    background-image: url("../images/forest.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: dogs 25s 5s infinite;
    position: relative;
}

@keyframes dogs{
    25% {background-image: url("../images/hounds.png");}
    50% {background-image: url("../images/snow-dogs.png");}
    75% {background-image: url("../images/two-dogs-walking.png");}
    100% {background-image: url("../images/forest.png");}
}
.dampner {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
}

.jumbotron {
    width: 75%;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.jumbotron h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: bolder;
    color:#303030;
    margin-bottom: 0;
}

.jumbotron h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    color:#303030;
    margin-top: 0.5em;
}

.jumbobutton {
    font-size: 0.7em;
    margin-bottom: 3em;
    background-color: #00b348;
}

div .walkee {
    font-family: "Fredoka One", cursive;
    font-weight: normal;
}

.three-reasons {
    background-color: #FFC7AA;
    width: 100%;
    margin: 0;
}

.tr-content{
    padding: 0.5em 10px;
}

/*---------------------------------------About Page*/


.about-intro h1 {
    font-size: 2em;
    padding-top: 1rem;
    margin-bottom: 0.5em;
}

.about-intro p {
    display: inline-block;
    margin-bottom: 1.5em;
}

.ozzy-img {
    border-radius: 50%;
    max-height: 200px;
    margin-bottom: 1em;
}

.about-features .feature-text {
    padding: 0;
    font-size: 0.85rem;
}

.about-features h2 {
    font-size: 1rem;
}

section > div > div {
    padding-top: 1em;
}

.feature-icon {
    display: block;
    align-self: center;
    padding-left: 0;
    font-size: 2.5em;
}
/*---------------------------------------Community Page*/
.community-content {
    padding: 2em 1em 2em 1em;
}

/*---------------------------------------Carousel*/
.carousel-inner,
.carousel {
    background-color: #FFC7AA;
    height: 300px;
    width: 100vw;
    max-width: 100%;
}

.carousel-item {
    margin-top: 75px;
}

.media-body {
    margin: 0 1em;
}

.review-pic {
    height: 7em;
    width: 7em;
    border-radius: 50%;
    margin-left: 2em;
}
/*---------------------------online community section*/
.online-community h2{
    padding: 40px 0px;
    margin: 0;
}

.fb-link,
.insta-link {
    height: 100%;
    padding: 1em 0em;
    color: #ffffff;
}

.com-link {
    font-size: 3em;
    margin-top: 0.5rem;
}

/*-----------------------------Download Page*/
.download-callout {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color:#FFC7AA;
}

.downloadtron {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #ffffffb0;
    border-radius: 0.25rem;
    max-width: 75%;
    height: 500px;
    text-align: center;
}

.download-heading{
    margin: 1em auto;
    font-size: 1.5em;
}

.downloadtron p {
    font-size: 1.25em;
}
.promo-image {
    height: 169px;
    width: 150px;
    margin: 25px auto;
}

.store-link {
    font-weight: bold;
    transition: color 250ms ease-in-out;
}

.store-link:hover {
    color: #00ff67;
}
/*------------------------------Login*/
.login-background {
    height: 90vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("../images/trees.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255, 199, 170, 0.6);
    border-radius: 0.25rem;
    max-width: 75%;
    height: 350px;
    text-align: center;
}

.login-heading {
    margin: 1em 0;
}

.login input {
    min-width: 50%;
    max-width: 70%;
    margin: 0.5em auto;
    
}

.sign-in {
    display: inline-block;
    font-family: "Fredoka One", cursive;
    color: #303030;
    background-color: #00b348;
    font-size: 1.25em;
    margin: 5px auto;
    border: #303030 solid 2px;
    border-radius: 0.25rem;
    transition-property: background-color, color, border;
    transition-duration: 120ms;
}

.sign-in:hover {
    color: #00ff67;
    background-color: #ffffff;
    border: 2px #ffffff solid;
}

/*--------------------------------Modal*/
.modal-header {
    border: 0;
}

.modal-body{
    padding-top: 0;
}
.form-group {
    margin-top: 0.5em;
}

/*-------------------------------media queries*/
@media(min-width: 992px) {
    .login {
    max-width: 50%;
    }
}

@media(min-width: 768px) {
    .downloadtron {
        max-width: 85%;
        height: 250px;
    }
}

@media(min-height: 1000px){
    .download-callout {
        height: 50vh;
    }
}

/*(landscape) ----------- */
@media(max-width: 1024px) and (orientation : landscape) {
  .download-callout {
        height: 80vw;
    }

    .hero-background {
    width: 100%;
    height: 80vw;
    }
}