@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato|Montserrat&display=swap');

/*-----------------------------colors*/

.navbar {
    background-color: #00b348;
}

footer {
    background-color: #303030;
}

.footerheading {
    color: #c0c0c0;
}

.footercontent {
    color: #c0c0c0;
}

a {
    color: inherit;    
}

a:hover {
    color: inherit;
}

.three-reasons i {
    color: #00b348;
}

.fb-link {
    background-color: #3b5998;
}

.insta-link {
    background-color: #d62976;
}

/*--------general margins padding etc*/
body {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}
.heading-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color:#303030;
}

.sm-heading-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: bold;

}
.content-text {
    font-family: "Lato", sans-serif;
    color:#303030;
}

/*-----------------------------Navbar*/

nav .navbar-brand {
    margin-right: 10px;
    text-align: center;
}

.logo-image {
    height: 50px;
    width: 50px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    margin-right: 7px;
    padding-right: 0;
}

.logo-text {
    display: inline-block;
    vertical-align: sub;
    font-family: "Fredoka One", cursive;
    color: #ffffff;
    font-size: 1.3em;

}

.divider {
    height: 30px;
    border-right: #ffffff solid 2px;
    margin-right: 5px;
}

a:hover {
    text-decoration: none;
}

.nav-item .nav-link {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    border-radius: 0.25em;
    transition-property: background-color, color, font-weight;
    transition-duration: 150ms;
    text-align: center;
}

.nav-item .nav-link:hover {
    background-color: #ffffff;
    color: #00b348;
    font-weight: bold;

     
}

.active-page {
     text-decoration: underline solid #ffffff;
}

a[id="login"] {
    font-family: "Fredoka One", cursive;
    color: #ffffff;
    font-size: 1em;
    padding: 0px 5px;
    margin-left: 3px;
    border: #ffffff solid 2px;
    border-radius: 10%;
    transition-property: background-color, color;
    transition-duration: 120ms;
}

a[id="login"]:hover {
    color: #00ff67;
    background-color: #ffffff;
}

.dropdownbutton {
    padding: 1px;
    border: 2px solid #ffffff;
}

.dropdownbutton i {
    color: #ffffff;
    vertical-align: sub;
}

/*--------------------------------Footer*/

#footercontainer {
    height: 128px;
}

.footerheading{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    margin-top: 16px;
    text-decoration: solid #c0c0c0 underline;
}

.footercontent {
    font-family: "Lato", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

footer p{
    padding: 5px 0px;
    margin-bottom: 5px;
    font-size: 0.5em;
    line-height: 0;
}

.downloadlink{
    color: #c0c0c0;
    font-size: 1.7em;
    display: inline-block;
    padding: 5%;
    transition: color 0.5s ease-in-out;
}

.downloadlink:hover {
    color: #00ff67;
}

.sociallink {
    background-color: #ffffff;
    vertical-align: middle;
    font-size: 0.83em;
    padding: 0.5em;
    border-radius: 50%;
    margin: 2.5px 5px;
    color:#c0c0c0;
    transition: background-color 0.25s ease-in-out;
}

.sociallink:hover {
    background-color: #00ff67;
}

/*----------------------------------Hero Section*/

.container-fluid {
    padding: 0;
}

.hero-background {
    width: 100%;
    height: 70vh;
    background-image: url("/assets/images/forest.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: dogs 15s 5s infinite;
    position: relative;
}

@keyframes dogs{
    25% {background-image: url("/assets/images/hounds.png");}
    50% {background-image: url("/assets/images/snow-dogs.png");}
    75% {background-image: url("/assets/images/two-dogs-walking.png");}
    100% {background-image: url("/assets/images/forest.png");}
}
#dampner {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.jumbotron {
    width: 75%;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.jumbotron h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: bolder;
    color:#303030;
    margin-bottom: 0;
}

.jumbotron h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    color:#303030;
    margin-top: 0.5em;
}

.jumbobutton {
    font-size: 1.1em;
    margin-bottom: 1.5em;
    background-color: #00b348;
}

div .walkee {
    font-family: "Fredoka One", cursive;
    font-weight: normal;
}
/*--------------------------------------three reasons*/

.three-reasons {
    background-color: #FFC7AA;
    width: 100%;
    margin: 0;
}

.tr-content{
    padding: 0.5em 10px;
}

/*---------------------------------------Community*/
.community-content {
    padding: 2em 1em 2em 1em;
}
/*---------------------------------------Carousel*/

.carousel-inner,
.carousel {
    background-color: #FFC7AA;
    height: 300px;
    width: 100vw;
    max-width: 100%;
}

.carousel-item {
    margin-top: 75px;
}

.media-body {
    padding: 0 1em;
    margin: 0 1em;
}

.review-pic {
    height: 7em;
    width: 7em;
    border-radius: 50%;
    margin-left: 2em;
}



.carousel-next-icon {
    margin-top: 50%;
}

.online-community h2{
    padding: 40px 0px;
    margin: 0;
}

.fb-link,
.insta-link {
    height: 100%;
    padding: 1em 0em;
    color: #ffffff;
}

.com-link {
    font-size: 3em;
    margin-top: 0.5rem;
}